
/* increment theorem counter

```
~~~
<div class="increment count2">
<div class="increment count10">
~~~

@@theorem
This is theorem
@@
```

will output "Theorem 13" (1+2+10, the first `1` is initial value)

*/

.increment{
    counter-increment: chapter 1;
}
.increment.count2{
    counter-increment: chapter 2;
}
.increment.count5{
    counter-increment: chapter 5;
}
.increment.count10{
    counter-increment: chapter 10;
}

/* reset theorem counter*/
.reset{
    counter-reset: theorem 0;
}


.cssdefinition {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.cssdefinition:before {
    content: "Definition " counter(chapter)"."counter(section)"."counter(theorem) ": ";
    font-weight: bold;
    font-style: normal;
}


.cssprop {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.cssprop:before {
    content: "Proposition " counter(chapter)"."counter(section)"."counter(theorem) ": ";
    font-weight: bold;
    font-style: normal;
}

.csstheorem {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.csstheorem:before {
    content: "Theorem " counter(chapter)"."counter(section)"."counter(theorem) ": ";
    font-weight: bold;
    font-style: normal;
}


.csslemma {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.csslemma:before {
    content: "Lemma " counter(chapter)"."counter(section)"."counter(theorem) ": ";
    font-weight: bold;
    font-style: normal;
}

.cssexample {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.cssexample:before {
    content: "Example " counter(chapter)"."counter(section)"."counter(theorem) ": ";
    font-weight: bold;
    font-style: normal;
}

.cssremark {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.cssremark:before {
    content: "Remark " counter(chapter)"."counter(section)"."counter(theorem) ": ";
    font-weight: bold;
    font-style: normal;
}

.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
}
.proof:after {
    content: "\25FC";
    float:right;
}
