

.definition {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.definition:before {
    content: "Definition ";
    font-weight: bold;
    font-style: normal;
}


.prop {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.prop:before {
    content: "Proposition ";
    font-weight: bold;
    font-style: normal;
}

.theorem {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.theorem:before {
    content: "Theorem ";
    font-weight: bold;
    font-style: normal;
}


.lemma {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.lemma:before {
    content: "Lemma ";
    font-weight: bold;
    font-style: normal;
}


.example {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.example:before {
    content: "Example ";
    font-weight: bold;
    font-style: normal;
}

.remark {
    display: block;
    margin: 12px 0;
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}
.remark:before {
    content: "Remark ";
    font-weight: bold;
    font-style: normal;
}

.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
}
.proof:after {
    content: "\25FC";
    float:right;
}

