<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}   {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{if hasjsx}}  {{insert head_jsx.html}} {{end}}

  <link href="/css/franklin.css" rel="stylesheet">
  <link href="/css/vela.css" rel="stylesheet">
  <script src="/libs/vela/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/theorem.css">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  <!-- PLOTLY -->
  {{if hasplotly}} <script src="/libs/plotly/plotly.min.js"></script> {{end}}

  <title>Franklin Example | Vela</title>
</head>
<body>
  <div class="main-nav" id="menu">
    <div class="flex-container">
      <span class="sidebar-brand">
        <h3 style='font-size: 25px'>MathSeminar.jl</h3>
      </span>
    </div> <!-- class="flex-container" -->

    <nav class="sidebar-nav">
      <ul class="metismenu"  id="metismenu" >
        <li><a href="/index.html">Home</a></li>
        <li><a href="" class="has-arrow">Programming</a>
          <ul>
            <li><a href="/programming/clang">C</a></li>
            <li><a href="/programming/rust">Rust</a></li>
            <li><a href="/programming/benchmark_part1"> Julia benchmark Part1 </a></li>
            <li><a href="/programming/benchmark_part2"> Julia benchmark Part2 </a></li>
            <li><a href="/programming/literatejl">Literate.jl</a></li>
            <li><a href="/programming/sympy">SymPy.jl</a></li>
            <li><a href="/programming/franklin">Franklin.jl</a></li>
            <li><a href="/programming/weave">Weave.jl</a></li>
            <li><a href="/programming/theoremcounter">Theorem Counter</a></li>
            <li><a href="/programming/images">Images.jl</a></li>
            <li><a href="/programming/rcall">RCall.jl</a></li>
          </ul>
        </li>
        <li><a href="" class="has-arrow">Slide Show</a>
          <ul>
            <li><a href="/slideshow/remark/build/">Introduction to Remark.jl</a>
            <li><a href="/slideshow/franklin/build">Introduction to Franklin.jl</a>
            <li><a href="/slideshow/dash/build">Introduction to Dash.jl</a>
          </ul>
        </li>
        <li><a href="" class="has-arrow">Gallery</a>
          <ul>
            <li><a href="/gallery/animation/">Plots.jl animation</a></li>
            <li><a href="/gallery/curve/">Plots.jl curve</a></li>
            <li><a href="/gallery/gr/">GR.jl</a></li>
            <li><a href="/gallery/plotlyjs1/">PlotlyJS.jl Part1</a></li>
            <li><a href="/gallery/plotlyjs2/">PlotlyJS.jl Part2</a></li>
            <li><a href="/gallery/plotlyjs3/">PlotlyJS.jl Part3</a></li>
            <li><a href="/gallery/jsxgraph_js/">JSXGraph (JS)</a></li>
            <li><a href="/gallery/jsxgraph_jl/">JSXGraph (Julia)</a></li>
            <li><a href="/gallery/wglmakie/">WGLMakie.jl</a></li>
          </ul>
        </li>
        <li><a href="" class="has-arrow">Topics in Mathematics</a>
          <ul>
            <li><a href="/mathematics/linearalgebra/chapter0">Linear Algebra</a></li>
            <li><a href="/mathematics/statistics/dice">Dice</a></li>
            <li><a href="/mathematics/statistics/Chisq">Chisq Distributions</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div> <!-- main nav menu -->

  <main id="panel">
    <div class="toggle-button hamburger hamburger--spin">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <h1 class="page title">{{isdef title}}{{fill title}}{{end}}</h1>
    <hr>


<!-- Content appended here -->
